body {
	font-family:"Plus Jakarta Sans", sans-serif;
	font-size:0.9rem;
	line-height:1.3rem;
	background-color:#fcfcfc;
	background-image:url("https://file.garden/ZRt8jW_MomIqlrfn/imgs/15.png");
	background-repeat:repeat;
	background-attachment:fixed;
	color:#141024
}

main {
	position:fixed;
	top:0;left:0;
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	gap:1rem;
}

button {
	padding:0.69rem 1rem;
	border:none;
	border-radius:5px;
	font-family:"Poppins", sans-serif;
	font-size:0.8rem;
	text-transform:uppercase;
	letter-spacing:0.03em;
	color:inherit;
	cursor:pointer;
	transition:background-color 0.3s ease-in-out;
}

/*---- 1ST POPUP'S BUTTON: YELLOW ----*/
.button-1 {
	background-color:#fce5c1;
	border:1px solid #fbdba9;
}

.button-1:hover {
	background-color:#fbdba9
}

/*---- 2ND POPUP'S BUTTON: GREEN ----*/
.button-2 {
	background-color:#cfdfdc;
	border:1px solid #c0d5d1;
}

.button-2:hover {
	background-color:#c0d5d1
}

/*----- POPIFY STYLING -----*/
[popify]{
	position:fixed;
	top:0;left:0;
	width:100vw;
	height:100vh;
	backdrop-filter:blur(6px);
	z-index:10; /* increase this number if you can't see your popup */
	
	display:none;
	opacity:0;
}

[popify].show {
	display:flex;
	align-items:center;
	justify-content:center;
}

.popup-box {
	position:relative;
	padding:40px;
	background:#fff;
	border-radius:12px;
	text-align:center;
	box-shadow:5px 5px 25px rgba(0,0,0,0.07);
}

.popup-box b {
	font-family:"Poppins", sans-serif;
	font-weight:normal;
	font-size:0.85rem;
	padding:0 0.1rem;
	text-transform:uppercase;
	letter-spacing:0.03em;
}

.close-popup {
	position:absolute;
	top:0;
	margin-top:calc(0px - (0.85rem * 0.3) - 0.35rem);
	right:0;
	margin-right:calc(0px - (0.85rem * 0.3) - 0.35rem);
	line-height:0;
	padding:0.35rem;
	border:none;
	outline:none;
	border-radius:100%;
	cursor:pointer;
}

.close-popup i {
	font-size:0.85rem;
	color:inherit;
}

/*---- 1ST POPUP'S STYLING: YELLOW ----*/
.box-1 .close-popup {
	background-color:#fce5c1;
	border:1px solid #f59d17;
}

.box-1 b {
	color:#e8900a
}

/*---- 2ND POPUP'S STYLING: GREEN ----*/
.box-2 .close-popup {
	background-color:#cfdfdc;
	border:1px solid #c0d5d1;
}

.box-2 b {
	color:#6b9c9b
}
